.editor {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  background: linear-gradient(90deg, #161122 21px, transparent 1%) center, linear-gradient(#161122 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;
}

.dock {
  height: 100vh;
  width : 15vw;
  padding:1em;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  justify-content: flex-start;

  gap: 1em;

  overflow-x:  hidden;
  overflow-y:  auto;

  background-color: #050a20;
}

.dock-item {
  display: inline-block;
  transform-origin: 50% 0;
}

.container {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.editor .node{
  background: rgba(110, 136, 255, 0.5);
}